<div class="user-profile">

  <div class="user-profile-banner row">
    <div class="col-md-3 user-avatar">
      <div class="avatar-wrapper">
        <img src="https://imgur.com/t/extra_life/qLeIzPG">
      </div>
    </div>
    
    <div class="col-md-9 user-info">
      <div class="user-header">
        <h2 class="username">Steve Alex<%=current_user.username%></h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <div class="user-metrics">
        <ul>
          <li><span>12</span> posts</li>
          <li><span>195</span> followers</li>
          <li><span>345</span> following</li>
        </ul>
      </div>
      <div class="user-description">
        <h2 class="name">steve_alex<%=current_user.name%></h2>
        <a class="website">stevealex.com<%=current_user.website%></a>
      </div>
    </div>
  </div>
</div>