<div class="user-profile">

  <div class="profile-row-1 row">
    <div class="username">
        <h2 class="name"><%=current_user.username%></h2>
    </div>
  </div>

  <div class="profile-row-2 row">
    <div class="user-avatar col-sm-4">
      <div class="image-wrapper">
        <img src="/assets/avatar.jpg" width=170px height=170px>
      </div>
    </div>

    <div class="col-sm-8 user-info">
      <div class="row">
        <div class="col posts">
          <p>12</p>
          <span>Posts</span> 
        </div>
        <div class="col followers">
          <p>195</p>
          <span>Followers</span>
        </div>
        <div class="col following">
          <p>345</p>
          <span>Following</span>
        </div>
      </div>
    </div>
  </div>

  <div class= "profile-row-3 row">
    <div class="user-header">
      <h4 class="username"><%=current_user.name%></h4>
    </div>
  </div>

  <div class= "profile-row-4 row">
    <div class="user-description">
      <p><%=current_user.bio%></p>
    </div>
  </div>

  <div class="profile-row-5 row">
    <a class="edit-profile" href="<%= edit_user_path(current_user)%>">
      <button>Edit Profile</button>
    </a>
  </div>

    <div class="user-tabs">
      <a class="tab active" href="">
        <i class="fa fa-th"></i>
        POSTS
      </a>
      <a class="tab" href="">
        <i class="fa fa-tag"></i>
        TAGGED
      </a>
    </div>

</div>