/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "font-awesome";
 @import "users";
 @import "posts";

.container {
    max-width: 1100px;
}

body {
    background-color: #f9f9f9;
}

nav {
    background-color: white;
    border-bottom: 1px solid #D3D3D3;
}

.user-section{
    a{
      padding-left: 17px;
    }
    i.fa{
      font-size: 24px;
    }
}

.search-form {
    input {
        text-align: center;
        background-color: #f9f9f9;
    }
}

.footer {
    padding: 23px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    ul {
        text-align: center;
        padding-right: 1px;
        padding-left: 1px;
        > li {
            display: inline;
            padding-right: 15px;
            color: #000080;
        }
    }
    p {
        color: #a9a9a9;
    }
}